style_base.css

* {
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
    color: white;
    padding: 0;
    margin: 0;
    counter-reset: box;
    width: 100vw;  /* vw viewport width */
    height: 100vh;  /* vh viewport height */
}

.box{
    height: 100px;
    width: 250px;
    background-color: blue;
    padding: 10px;
    margin: 5px;
    counter-increment: box_number;
    
}

/*.box:nth-child(2) {
    height: 100px;
}

.box:nth-child(3) {
    height: 300px;
    padding-top: 50px;
}*/

.box_number::before{
    content: "Nr: " counter(box_number);
    font-size: 3rem;
}

.box:nth-child(2){
    background-color: yellow;
}
.box:nth-child(3){
    background-color: pink;
}
.box:nth-child(4){
    background-color: brown;
}
.box:nth-child(5){
    background-color: black;
}

.box:nth-child(6){
    background-color: green;
}

